<style type="text/css">
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 200px;
    margin: 0 auto 15px;
}
.footer a {
    color: rgba(33,33,33,0.6);
	border: 0;
	font-weight: normal;
}
.footer a:active {
    color: rgba(33,33,33,0.6);
	border: 0;
	font-weight: normal;
}
.footer a:focus {
	color: #277cea;
	border: 0;
	font-weight: normal;
}
.footer a:hover {
	color: #277cea;
	border: 0;
	font-weight: normal;
}
</style>


